body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  position: relative;
}

/* nav section */
nav {
  width: 100%;
  height: 70px;
  display: flex;
  padding-right: 16px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 400;
  color: #777;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 5px 16px;
  color: #d90845;
  cursor: pointer;
}

.logo-area img {
  width: 35%;
}

.logo-text {
  font-size: 16px;
  padding: 0 0 0 8px;
}

.list-area {
  margin-left: auto;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-area ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.list-area li {
  margin: 0 10px;
}

.list-area i {
  display: inline-block;
  margin-right: 5px;
}

.list-area a:hover, .list-area a:hover i {
  color: #d90845;
}

.list-area span img {
  width: 20px;
  position: relative;
  animation: change 1.25s ease-in-out infinite alternate;
}

@keyframes change{
  0%{transform: translateY(0px)}
  50% {transform: translateY(-3px)}
  100%{transform: translateY(0px)}
}

.list-area a, .list-area i {
  color: #555555;
}

.list-area a {
  text-decoration: none;
}


/* banner section */
.banner {
  padding-top: 70px;
  position: relative;
}

.banner img {
  width: 100%;
  vertical-align: bottom;
}

.banner .page {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 20px;
}

.banner .page div {
  box-sizing: border-box;
  margin: 0 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.5s ease;
}

.banner .page div:hover {
  background-color: #d90845;
  border: 1px solid #fff;
}



/* about us section */
.about-us {
  padding: 24px 0 48px 0;
  background-color: #f7f7f7;
  text-align: center;
}

.about-us h3 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #555555;
  margin: 24px 0;
}

.about-us h3.subtitle{
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #555555;
  margin: 20px 0 20px 0;
}

.about-us .title::after {
  content: '';
  display: block;
  background-color: #d90845;
  height: 4px;
  width: 100px;
  margin: 24px auto;
}

.about-us .container {
  width: 1200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: auto;
}

.about-us .card {
  width: 277px;
  padding: 0px 16px;
}

.about-us .desc {
  color: #333;
}

/* lecture section */
.lecture {
  margin-top: 60px;
}

.lecture h3 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #555555;
  margin: 20px 0 20px 0;
}

.lecture .title {
  margin-top: 48px;
  padding-bottom: 24px;
}

.lecture h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #d90845;
  margin: 24px auto;
}

.lecture .container {
  width: 1200px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 0 16px;
}

.lecture .card {
  width: 360px;
  border: 1px solid #ccc;
  transition: transform 0.15s ease-in-out, box-shadow 0.5s ease-in-out;
}

.lecture .card:hover {
  transform: translateY(-3px);
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.lecture .text-area {
  padding: 8px 15px;
}

.lecture .course {
  padding: 8px 0 24px;
}

.lecture h4 {
  font-size: 12px;
  display: inline-block;
  background-color: #d90845;
  color: #fff;
  padding: 5px 7px;
  border-radius: 4px;
}

.lecture .teacher {
  padding-bottom: 12px;
}

.lecture .teacher, .lecture .course-date {
  color: #999;
}

.lecture .course {
  font-size: 18px;
}

.lecture .course-date {
  border-top: 1px solid #ddd;
  display: flex;
  padding: 16px 0 0;
}

.lecture span:nth-child(1) {
  width: 70px;
}

.lecture span:nth-child(2) {
  padding: 4px 10px;
  color: #666;
  background-color: #e6e6e6;
}

.lecture .card .img-area img {
  width: 100%;
}

.lecture .course-btn {
  width: 128px;
  text-align: center;
  margin: 40px auto;
  padding: 15px 50px;
  font-size: 18px;
  background-color: #d90845;
  border-radius: 5px;
  transition: color .15s ease-in-out, box-shadow .3s ease-in-out;
}

.lecture .course-btn:hover {
  color: #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.lecture .course-btn a {
  color: #fff;
  text-decoration: none;
}


/* avatar section */
.avatar {
  background-color: #f7f7f7;
  padding-bottom: 20px;
}

.avatar .title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.avatar h3 {
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  color: #555555;
}

.avatar h3:after {
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background-color: #d90845;
  margin: 24px auto;
}

.avatar .carousel-item {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.avatar .text-area {
  width: 615px;
  height: 120px;
  margin-left: 24px;
}

.avatar .desc {
  font-size: 16px;
}

.avatar .name {
  margin: 8px 0 4px;
  font-size: 24px;
  color: #d90845;
}

.avatar .job-title {
  color: #888888;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar .page {
  padding-top: 20px;
  width: 1200px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.avatar .page div {
  margin: 0 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.5s ease;
}

.avatar .page div:hover {
  background-color: #d90845;
}


/* know-about-us section */
.know-about-us {
  padding: 24px 0 60px 0;
}

.know-about-us .container {
  width: 1200px;
  height: 200px;
  margin: 16px auto;
  text-align: center;
}

.know-about-us h3{
  font-weight: 400;
  font-size: 24px;
  color: #555555;
}

.know-about-us .desc {
  font-size: 18px;
  line-height: 2;
}

.know-about-us a:nth-child(1), .know-about-us a:nth-child(2) {
  text-decoration: none;
  color: #d90845;
}

.know-about-us .social-btn {
  padding-top: 24px;
}

.know-about-us span  {
  margin: 0 16px;
}

/* footer section */
.footer {
  padding: 30px 0 2px 0;
  background-color: #f7f7f7;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding: 0 15px;
}

.footer li:nth-child(1) {
  font-weight: 500;
}

.footer li {
  margin-bottom: 8px;
}

.footer a {
  text-decoration: none;
  color: #888888;
}

.footer a:hover {
  color: #d90845;
}

.footer img {
  width: 130px; 
}


.footer .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.footer .col:nth-child(1) {
  flex-grow: 2;
}

.footer i {
  color: #888888;
  margin-right: 8px;
}

.footer .col {
  flex-grow:1;
}

.footer .list-title {
  color: #333;
}

.footer-copyright {
  width: 1200px;
  margin: auto;
  padding: 16px 0 0 0;
  text-align: center;
  color: #888888;
  font-size: 13px;
}

.footer-copyright .text-area {
  width: 1170px;
  padding: 24px 0 0 0 ;
  margin: 30px auto;
  box-sizing: border-box;
  border-top: 2px solid #ccc;
}


/* fb-dialog-content */
.fb-dialog-content {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.fb-dialog-content i{
  color: #d90845;
}

/* scroll top */
.scroll-top {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.scroll-top i {
  color: #d90845;
}

